:root {
    --AlmostWhite: hsl(0, 0%, 98%);
    --MediumGray: hsl(0, 0%, 41%);
    --AlmostBlack: hsl(0, 0%, 8%);
    --MobileWidth: 375px;
    --DesktopWidth: 1440px;
}

html {
    margin: 0;
    padding: 0;
    font-family: 'Epilogue', arial, serif;
    font-weight: 500 700;
}

#navbar {
    min-height: 10rem;
    background-color: green;
}

#navbar-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#logo {
    background-color: aliceblue;
    min-height: 1rem;
}