:root {
    --AlmostWhite: hsl(0, 0%, 98%);
    --MediumGray: hsl(0, 0%, 41%);
    --AlmostBlack: hsl(0, 0%, 8%);
    --MobileWidth: 375px;
    --DesktopWidth: 1440px;
}

html {
    margin: 0;
    padding: 1.2rem 2.4rem;
    font-family: 'Epilogue', arial, serif;
    font-weight: 500 700;
}

#navbar {
    display: inline;
    width: fit-content;
    min-height: 10rem;
    background-color: green;
}

#navbar-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#navbar-left {
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
    justify-content: center;
    align-items: center;
    min-height: 5rem;
    background-color: red;
}

#logo {
    min-height: 3rem;
    padding: 1rem 3rem;
    flex: 1;
    text-align: center;
    margin: auto;
}

#logo img {
    padding-top: 0.8rem;
    display: block;
    width: 7rem;
    margin: auto;
}

#logo span {
    padding: 10px;
    text-align: center;
}

#navbar-links-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    list-style-type: none;
    display: inline-block;
    flex-wrap: nowrap;
}

#navbar-links-left ul li a {
    text-decoration: none;
}